In [2]:
# importing necessary packages
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
# loading the dataset
df=pd.read_csv(r'daily_weather.csv')
df.head()

,number,air_pressure_9am,air_temp_9am,avg_wind_direction_9am,avg_wind_speed_9am,max_wind_direction_9am,max_wind_speed_9am,rain_accumulation_9am,rain_duration_9am,relative_humidity_9am,relative_humidity_3pm,Unnamed: 11
0,0,918.060000,74.822000,271.100000,2.080354,295.400000,2.863283,0.0,0.0,42.420000,36.160000,NaN
1,1,917.347688,71.403843,101.935179,2.443009,140.471549,3.533324,0.0,0.0,24.328697,19.426597,NaN
2,2,923.040000,60.638000,51.000000,17.067852,63.700000,22.100967,0.0,20.0,8.900000,14.460000,NaN
3,3,920.502751,70.138895,198.832133,4.337363,211.203341,5.190045,0.0,0.0,12.189102,12.742547,NaN
4,4,921.160000,44.294000,277.800000,1.856660,136.500000,2.863283,8.9,14730.0,92.410000,76.740000,NaN

In [7]:
# finding central tendency an dispersion
df.describe()

,number,air_pressure_9am,air_temp_9am,avg_wind_direction_9am,avg_wind_speed_9am,max_wind_direction_9am,max_wind_speed_9am,rain_accumulation_9am,rain_duration_9am,relative_humidity_9am,relative_humidity_3pm,Unnamed: 11
count,1095.000000,1092.000000,1090.000000,1091.000000,1092.000000,1092.000000,1091.000000,1089.000000,1092.000000,1095.000000,1095.000000,0.0
mean,547.000000,918.882551,64.933001,142.235511,5.508284,148.953518,7.019514,0.203079,294.108052,34.241402,35.344727,NaN
std,316.243577,3.184161,11.175514,69.137859,4.552813,67.238013,5.598209,1.593952,1598.078779,25.472067,22.524079,NaN
min,0.000000,907.990000,36.752000,15.500000,0.693451,28.900000,1.185578,0.000000,0.000000,6.090000,5.300000,NaN
25%,273.500000,916.550000,57.281000,65.972506,2.248768,76.553003,3.067477,0.000000,0.000000,15.092243,17.395000,NaN
50%,547.000000,918.921045,65.715479,166.000000,3.871333,177.300000,4.943637,0.000000,0.000000,23.179259,24.380000,NaN
75%,820.500000,921.160073,73.450974,191.000000,7.337163,201.233153,8.947760,0.000000,0.000000,45.400000,52.060000,NaN
max,1094.000000,929.320000,98.906000,343.400000,23.554978,312.200000,29.840780,24.020000,17704.000000,92.620000,92.250000,NaN

In [5]:
#preprocess and handling missing values
df.isnull().sum()

number                       0
air_pressure_9am             3
air_temp_9am                 5
avg_wind_direction_9am       4
avg_wind_speed_9am           3
max_wind_direction_9am       3
max_wind_speed_9am           4
rain_accumulation_9am        6
rain_duration_9am            3
relative_humidity_9am        0
relative_humidity_3pm        0
Unnamed: 11               1095
dtype: int64

In [8]:
df.shape

(1095, 12)

In [9]:
df.dropna(axis=1,inplace=True)

In [10]:
df.isnull().sum()

number                   0
relative_humidity_9am    0
relative_humidity_3pm    0
dtype: int64

In [13]:
df['humidity_class']=np.where(df['relative_humidity_3pm']<=25,0,1)

In [14]:
df[['relative_humidity_3pm','humidity_class']].head()

   relative_humidity_3pm  humidity_class
0              36.160000               1
1              19.426597               0
2              14.460000               0
3              12.742547               0
4              76.740000               1

In [15]:
#split the data
x=df.drop(['relative_humidity_3pm','humidity_class'],axis=1)
y=df['humidity_class']

In [17]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)
dt=DecisionTreeClassifier()
dt.fit(x_train,y_train)

DecisionTreeClassifier()

In [18]:
y_pred=dt.predict(x_test)
print(y_pred[:5])

[1 0 1 0 0]

In [19]:
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix
accuracy=accuracy_score(y_test,y_pred)
classification=classification_report(y_test,y_pred)
confusion=confusion_matrix(y_test,y_pred)

print('accuracy:',accuracy)
print('classification report:',classification)
print('confusion matrix:',confusion)

accuracy: 0.776255707762557
classification report:               precision    recall  f1-score   support

           0       0.83      0.75      0.79       120
           1       0.73      0.81      0.77        99

    accuracy                           0.78       219
   macro avg       0.78      0.78      0.78       219
weighted avg       0.78      0.78      0.78       219

confusion matrix: [[90 30]
 [19 80]]